# *************************
#* Development database   *
# *************************
# For Docker container internal communicationDATABASE_URL=postgres://postgres:postgres@postgres:5432/faivor
# For local development and migrations
DATABASE_URL_LOCAL=postgres://postgres:postgres@0.0.0.0:5432/faivor

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=faivor

# Auth
# Run with `npx auth secret` to generate a new secret
AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

# Application Settings
PUBLIC_ORGANIZATION_NAME="FAIVOR"
